/*Navigation bar*/
html, body{
    overflow-x: hidden ;
}
#navigation{
    overflow-x: hidden;
    width: 100%;
}
.navbar{
    font-family: 'Bree Serif', serif;
    overflow-x: clip;
}
.navbar-brand{
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}
@media (max-width:600px){
    .navbar-brand{
        font-size: 1.2rem !important;
        font-weight: 500 !important;
    }
    .navbar-nav{
        margin: 1% 5%;
        text-align:center;
    }
}

/*Heading section*/
#heading{
    height: 650px;
    background-image: url(https://media0.giphy.com/media/pOEbLRT4SwD35IELiQ/giphy.gif?cid=790b76114074090068f9595a7fcf206acfafea5dd15218d4&rid=giphy.gif&ct=g);
    background-size: cover;
    background-repeat:no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.header-text{
    font-size: 3rem;
    color: #FFF;
    font-family: 'Bree Serif', serif;
    text-align: start;
    margin:30% 2% 6% 8%;
    text-shadow: 10px 5px 5px black;
    text-shadow: 5px 5px 10px #EC0051;
}
.header-text-ar{
    font-family: 'Tajawal', sans-serif;
    text-align: end;
    margin: 42.8% 8% 6% 2%;
   
}
@media (max-width:600px){
    #heading{
        height: 450px;
    }
    .header-text{
        font-size: 2rem;
        margin: 30% 0;
        text-align: center;
    }
    .header-text-ar{
        display: none;
    }
}

/*News section*/
#news{
    padding: 8% 15%; 
    font-size: 1.5rem;
    clip-path: polygon(0 0, 100% 6.5%, 100% 100%, 0 100%);
    font-family: 'Tajawal','Bree Serif', sans-serif;
    background-image: url(https://media3.giphy.com/media/QpVUMRUJGokfqXyfa1/giphy.gif?cid=790b76115d36974dab8179d2c93c6b90ac797cb287e44d94&rid=giphy.gif&ct=ghttps://media0.giphy.com/media/pOEbLRT4SwD35IELiQ/giphy.gif?cid=790b76114074090068f9595a7fcf206acfafea5dd15218d4&rid=giphy.gif&ct=g);
}
.box{
    background-color: #000D6B;
    background-image: url(https://media3.giphy.com/media/IcZhFmufozDCij3p22/giphy.gif?cid=790b7611c82f69fc7d8003a4604c879ccf15ec7baac03ed3&rid=giphy.gif&ct=g);
    background-size: contain;
    background-blend-mode:darken;
    background-repeat: round;
    border-radius: 50%;
    height: 500px;
    /*padding: 15% 10%;*/
    color: #FFF;
    box-shadow: 1px 1px 1px #EC0051;
    position: relative;
}
.news-text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    font-size: 1.5rem;
}
.news-header,.content-header{
    font-size: 3rem;
    margin: 0% 0 7%;
    font-weight: 800;
    color: #FFF;
    text-shadow: 5px 5px 10px #EC0051;
}
@media (max-width:600px){
    #news{
        font-size: 1rem;
        padding: 20% 8%;
        background-size: cover;
    background-repeat:no-repeat;
    }
    .box{
        height: 500px;
        border-radius: 20%;
    }
    .news-header,.content-header{
        font-size: 2rem;
    }
    .news-text{
        font-size: 1.1rem;
    }
}

/*contents section*/

#content{
    padding: 8% 2%;
    text-align:center;
}
.content-header{
    color: black;
    font-size: 2.5rem;
    text-shadow: 0 0 0;
}
.assignments{
    width: 300px;
    height: 400px;
    border: solid 3px #FF5DA2;
    margin: 2% 2%;
    border-radius: 10%;
    font-weight: 500;
    font-size: 1.3rem;
    color: #000D6B;
    position: relative;
    visibility: hidden;
}
.empty{
    background-image: url(https://media4.giphy.com/media/jsUXu7umQRFqU/giphy.gif?cid=ecf05e47ewkkju4pg8zlpuvojmf9ijbvj32otc71bwssqirt&rid=giphy.gif&ct=g);
    background-size: contain;
}
.fa-brands{
    font-size: 3rem;
    transition: 500ms;
}
.fa-brands:hover{
    transform: rotate(360deg);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fa-arrow-down{
    font-size: 3rem;
    margin: 10% 0;
}
.card-header{
    margin: 5% 0;
}
.dead{
    text-decoration: line-through;
    color:#FF5DA2;
    opacity: 0.5;
}
.cards-animation{
    animation-name: card-animation;
    animation-timing-function: ease-in-out;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    visibility: visible;
}
@keyframes card-animation {
    from{
        opacity: 0;
        top: -100px;
    }
    to{
        opacity: 1;
        top: 0;
    }
    
}
/*Rotaiting subjects*/
#rotating-subjects{
    padding: 10% 15% 15%;
    margin-bottom: 50px;
}
.sun{
    width: 400px;
    height: 400px;
    /*background-color: #72E0EF;*/
    animation-name: RS;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: relative;
    left: 50%;
    top: 50px;
    /*border-radius: 50%;*/
}
.stop{
    animation-play-state: paused;
}
.mercury, .venus, .earth, .mars, .jupiter, .saturn{
    position: absolute;
    width: 66.666px;
    height: 66.666px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,160,201,1) 45%, rgba(255,93,162,1) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
    animation-name: Subjects;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition: 500ms;
}
.mercury:hover, .venus:hover, .earth:hover, .mars:hover, .jupiter:hover, .saturn:hover{
    width: 90px;
    height: 90px;
}
.neutron-star{
    width: 200px;
    height: 200px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(99,241,204,1) 42%, rgba(0,134,255,1) 100%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shadow{
    width: 210px;
    height: 210px;
    opacity: 0.3;
    transition: 500ms;
}
.shadow:hover{
    width: 400px;
    height: 400px;
    opacity: 0.4;
}
.venus{
    top: 83.5%;
}
.earth{
    left: 83.5%;
}
.mars{
    top: 83.5%;
    left: 83.5%;
}
.jupiter{
    left: 41.75%;
    top: -69.7px;
}
.saturn{
    top: 400px;
    left: 41.75%;
}
.sub-link{
    text-decoration: none;
    color: black;
}
.data{
    font-family: 'Bree Serif', serif;
}
@media (max-width:600px){
    .sun{
        width: 250px;
        height: 250px;
    }
    .venus{
        top: 74%;
    }
    .mars{
        top: 74%;
        left: 74%;
    }
    .earth{
        left: 74%;
    }
    .jupiter{
        left: 37%;
        top: -38px;
    }
    .saturn{
        top:225px ;
        left: 37%;
    }
    .neutron-star{
        width: 100px;
        height: 100px;
    }
    .mercury, .venus, .earth, .mars, .jupiter, .saturn{
        font-size: 1.2rem;
    }
    .shadow:hover{
        width: 200px;
        height: 200px;
    }
}

@keyframes RS {
    from{
        transform:translate(-50%, 0) rotate(0deg) ;
    }
    to{
        transform:translate(-50%, 0) rotate(360deg);
    }
}
@keyframes Subjects {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

/*Footer*/

#footer{
    /*text-align: end;*/
    padding: 1% 10% 0 10%;
    text-align: center;
    background-color: #72E0EF;
    overflow-y: hidden;
}
footer{
padding-bottom: 0;
}
.social{
    height: 70px;
}
.social-icon{
    font-size: 2rem;
    margin: 2% 4% 2% 4%;
    transition: 500ms;
}
.brand-font{
    font-family: 'Permanent Marker', cursive;
}
@media (min-width:600px){
.social-icon:hover{
    font-size: 2.5rem;
    margin: 2% 5% 2% 5%;}    

}

@media (max-width:600px){
    .social-icon{
        margin: 2% 4% 0 4%;
    }
    .social{
        height: 50px;
    }
}
